.banner{
    background-image: url(../assets/img/section_departament.svg);
    max-width: 1376px;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.banner button{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 0.5;
}

.banner button:first-child{
    transform: rotate(180deg);

}

.banner button img{
    color: #40B25C;
}

